.NotesList-content {
  padding: 0 12px;
}

.NotesList-item {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

.ReactModal__Content p {
  margin-top: 0;
}

.ReactModal__Content label {
  display: block;
  margin-bottom: 5px;
}